div {
  display: flex;
  outline: black 2px solid;
  background-color: #301d57;
  color: white;
  align-content: center;
  align-items: center;
  justify-content: center;
}

section {
  display: flex;
}