/* MOBLIE VIEW */
@media (max-width: 767px) {
  #a {
    height: 75px;
    width: 480px;
    /* background-image: url("https://via.placeholder.com/480x75/f0f"); */
  }
  
  #b {
    height: 150px;
    width: 480px;
    /* display: inline; */
    /* background-image: url("https://via.placeholder.com/480x150/f0f"); */
  }
  
  #c, #d {
    height: 125px;
    width: 480px;
    /* background-image: url("https://via.placeholder.com/480x125/f0f"); */
  }
  
  #e, #f, #g, #h {
    /* float: left; */
    height: 250px;
    width: 240px;
    /* background-image: url("https://via.placeholder.com/240x250/f0f"); */
  }
  
  #i {
    height: 80px;
    width: 480px;
    /* background-image: url("https://via.placeholder.com/480x80/f0f"); */
  }
}
/* DESKTOP VIEW */
@media (min-width: 767px) {
 #a {
  /* background-image: url("https://via.placeholder.com/960x100/0ff"); */
  /* width: 960px; */
  width: 100%;
  height: 100px;
 } 

 #b {
  /* background-image: url("https://via.placeholder.com/200x600/0ff"); */
  width: 200px;
  height: 600px;
 }

 #c, #d {
  /* background-image: url("https://via.placeholder.com/380x200/0ff"); */
  /* float: left; */
  /* width: 380px; */
  width: 50%;
  height: 200px;
 }

 #e, #f, #g, #h {
  /* float: left; */
  /* background-image: url("https://via.placeholder.com/190x250/0ff"); */
  /* width: 190px; */
  width: 25%;
  height: 250px;
 }

 #i {
  /* background-image: url("https://via.placeholder.com/760x150/0ff"); */
  /* width: 760px; */
  width: 100%;
  height: 150px;
  /* margin-left: 200px; */
 }

}